<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Local Go Playground</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <textarea id="code" rows="20" cols="60"></textarea><br />
    <button onclick="runCode()">Run</button>
    <pre id="output"></pre>

    <script>
      function runCode() {
        const code = document.getElementById("code").value;

        fetch("/run", {
          method: "POST",
          headers: {
            "Content-Type": "application/text",
          },
          body: code,
        })
          .then((response) => response.text())
          .then((result) => {
            document.getElementById("output").textContent = result;
          });
      }
    </script>
  </body>
</html>
